<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>User Management System</title>
    <style>
            body { font-family: Arial; padding: 20px; }
        table { border-collapse: collapse; width: 100%; margin-top: 20px; }
        table, th, td { border: 1px solid black; padding: 10px; }
        .msg { color: green; font-size: 18px; }
    </style>
    </style>
    
</head>

<body>
    <h2>User Management System</h2>
    <% if (message) { %>
        <p class="msg">
            <%= message %>
        </p>
        <% } %>
    <main>
        <!-- display user -->
        <h3>Add User</h3>
        <form action="/add" method="POST">
            <input name="userId" placeholder="User ID">
            <input name="userName" placeholder="Name" required>
            <input name="userEmail" placeholder="Email" required>
            <input name="age" placeholder="Age" required>
            <button type="submit">Add</button>
        </form>
        <h3>Search</h3>
        <form action="/search" method="POST">
            <input name="keyword" placeholder="Search by name/email">
            <button>Search</button>
        </form>


        <h2 id="h2">Current users</h2>
        <div class="table">
        <table border="1">

            <tr class="tablehead">
                <th>ID</th>
                <th>Name</th>
                <th> Email</th>
                
                <th>Age</th>
                <th>Actions</th>
            </tr>
            <% data.forEach(user=>{%>
                <tr class="eachuser">

                    <td>
                        <%=user.userId%>
                    </td>
                    <td>
                        <%=user.userName%>
                    </td>
                    <td>
                        <%=user.userEmail%>
                    </td>
                    <td>
                        <%=user.age%>
                    </td>
                    <td>
                        <form action="/delete" method="post" style="display:inline;">
                            <input type="hidden" name="userId" value="<%= user.userId %>">
                            <button type="submit">delete</button>
                        </form>
                        <!-- Update user form -->
                        <form action="/update" method="post" style="display:inline;">
                            <input type="hidden" name="userId" value="<%= user.userId %>">
                            <input name="userName" value="<%= user.userName %>">
                            <input name="userEmail" value="<%= user.userEmail %>">
                            <input name="age" value="<%= user.age %>">
                            <button>Update</button>


                    </td>

                </tr>

                <% })%>
             </table>
         



    </main>

</body>

</html>